<template>
  <div class="home">
    <div class="logo"><img src="/img/netlify.png" width="80" height="80" /></div>
    <h1 class="title">Today's Team Call Question</h1>
    <Question :question="question" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Question from '@/components/Question.vue';
import axios from 'axios';
import { DateTime } from 'luxon';

@Component({
  components: {
    Question,
  },
})
export default class Home extends Vue {
  questions = [];
  question = '';

  mounted() {
    this.fetchQuestions();
  }

  setTodayQuestion() {
    const pacificTime = DateTime.local().setZone('America/Los_Angeles');
    const questionDateIndex = pacificTime.toFormat('MM-dd');
    const questionData = this.questions.find(
      questionData => questionData[0] === questionDateIndex
    );

    if (questionData && questionData[1]) {
      this.question = questionData[1];
    } else {
      this.question = "Error fetching today's question";
    }
  }

  fetchQuestions() {
    axios
      .get(
        'https://sheets.googleapis.com/v4/spreadsheets/1gw866-ZU1CaWrgpJJpQNhkCeTkBCqxCYg-TF4ZxLLyg/values/Questions!A2%3AB',
        {
          params: {
            key: 'AIzaSyBY03GxXX2fGx5cHbo5eXB56A-RZn2hBSM',
          },
        }
      )
      .then(response => {
        this.questions = response.data.values;
        this.setTodayQuestion();
      })
      .catch(error => {
        console.log(error); //eslint-disable-line no-console
      });
  }
}
</script>

<style lang="scss" scoped>
.logo {
  margin-top: 12px;
}

.title {
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin: 12px 0 32px;
}
</style>

