<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import 'src/assets/normalize.scss';
@import 'src/assets/styles.scss';

#app {
  max-width: 480px;
  margin: auto;
  text-align: center;
}
</style>
